# Бэкенд
backend/venv/
backend/*.db
backend/__pycache__/
backend/.env

# Фронтенд
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.eslintcache

# Build outputs
frontend/build/
frontend/dist/
backend/dist/
backend/build/
venv/
# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи
*.log
logs/